@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lebedev's page</h1>
    <p>Задача: разработать на ASP.Net Core MVC веб-сайт, загрузить в систему контроля версий git<p></p>
    <p>Learn about building Web apps with <a class="link" href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
